/* Hero */

.heroContainer {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
  }
  
  .heroContainer .profileImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
  }

  .heroContainer .profileImg:hover {
    transform: scale(1.05);
  }
  
  .heroContainer .heroText {
    text-align: center;
    margin: 1rem 0;
    width: 80%;
  }
  
  @media screen and (max-width: 768px) {
    .heroContainer .heroText {
      width: 100%;
    }
  }
  
  .heroContainer .heroText h2 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .heroContainer .heroText p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  
  .heroContainer .socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
  }
  
  .heroContainer .socialIcons a {
    color: #9B9C9D;
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
  }
  
  .heroContainer .socialIcons a:hover {
    color: #DADADB;
  }